/* Reset basic margins, paddings, and box-sizing */
/*
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  background: url('images/back_photo.png') no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
}
*/


/*
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background: url('images/back_photo.png') no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
}
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background: url('images/back_photo.png') no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
}

.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}



header {
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

nav {
  text-align: center;
  margin: 20px 0;
}

.image {
  max-width: 20%;
  height: auto;
  border: 5px solid white;
  margin: 10px;
}

button {
  background-color: #222;
  color: white;
  border: 2px solid #00ffff;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

button:hover {
  background-color: #00ffff;
  color: black;
}

/*
.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 10px;
}
  */

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px;
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: none;
}
#welcome h2 {
  font-size: 50px;
  color: #00ffff;
  text-shadow: 0 0 15px #00ffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#welcome a {
  color: #ffcc00;
  font-size: 20px;
  text-decoration: none;
  margin: 20px 0;
  transition: 0.3s;
}

#welcome a:hover {
  color: #ff6600;
}


#register, #login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
}

#register form, #login form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

#register h2, #login h2, #conf h2{
  font-size: 40px;
  color: #00ffff;
  text-shadow: 0 0 15px #00ffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#register input, #login input, #conf input{
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

#register button, #login button, #conf button {
  background-color: #222;
  color: white;
  border: 2px solid #00ffff;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

#register button:hover, #login button:hover, #conf button:hover {
  background-color: #00ffff;
  color: black;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 10px;
  flex-direction: row;
}

.select {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  min-width: 60px;
  box-sizing: border-box;
  text-align: center;
}

.year-select {
  min-width: 80px;
}



dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog {
  border-radius: 20px;
  padding: 20px;
  width: 600px;
  position: relative;
}

.close-btn {
  background-color: white;
  border: 2px solid white;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-option {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
}

.color-option:hover {
  border: 2px solid #333;
}

#gameCanvas {
  display: block;
  margin: 0 auto;
  width: 80vw;
  height: 90vh;
}



#infoBar {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  font-size: clamp(18px, 3vw, 35px);
  color: rgb(0, 255, 221);
  font-family: Arial, sans-serif;
  z-index: 1000;
  text-align: center;
}
  


#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: yellow;
  text-shadow: 0 0 10px red;
  display: none;
  z-index: 1000;
}


#gameOverScreen h2 {
  font-size: 60px;
  color: #00ffff;
  text-shadow: 0 0 15px #00ffff;
  margin-bottom: 20px;
}

#gameOverScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
  margin-top: 0;
  box-sizing: border-box;
}




#gameOverResults {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #00ffff;
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  margin: 20px auto;
  text-align: left;
  font-size: 25px;
  color: white;
}

#gameOverResults table {
  width: 100%;
  border-collapse: collapse;
}

#gameOverResults td {
  padding: 10px 0;
  border-bottom: 1px solid #00ffff;
}

#gameOverResults td:first-child {
  font-weight: bold;
  color: #ffcc00;
}

#gameOverScreen button {
  margin-top: 20px;
}

#gameOverMessage {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}


.champion-message {
  color: gold;
  text-shadow: 0 0 15px orange, 0 0 30px gold;
}


.lost-message {
  color: red;
  text-shadow: 0 0 15px darkred, 0 0 30px red;
}


.better-message {
  color: rgb(0, 47, 255);
  text-shadow: 0 0 10px yellow, 0 0 20px orange;
}



#highScoreTable {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #00ffff;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  color: white;
}

#highScoreList {
  width: 100%;
  border-collapse: collapse;
}

#highScoreList th {
  font-size: 22px;
  padding-bottom: 10px;
  color: #00ffff;
}

#highScoreList td {
  padding: 10px 0;
  border-bottom: 1px solid #00ffff;
}

#highScoreList tr:last-child td {
  border-bottom: none;
}

.highlight-current-score {
  background-color: rgba(255, 255, 0, 0.2);
  font-weight: bold;
}



