body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('images/back_photo.png') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

header {
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

nav {
  text-align: center;
  margin: 20px 0;
}

.image {
  max-width: 20%;
  height: auto;
  border: 5px solid white;
  margin: 10px;
}

button {
  background-color: #222;
  color: white;
  border: 2px solid #00ffff;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

button:hover {
  background-color: #00ffff;
  color: black;
}

.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 10px;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px;
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: none;
}
#welcome h2 {
  font-size: 50px;
  color: #00ffff;
  text-shadow: 0 0 15px #00ffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#welcome a {
  color: #ffcc00;
  font-size: 20px;
  text-decoration: none;
  margin: 20px 0;
  transition: 0.3s;
}

#welcome a:hover {
  color: #ff6600;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

#register, #login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
}

#register form, #login form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

#register h2, #login h2, #conf h2{
  font-size: 40px;
  color: #00ffff;
  text-shadow: 0 0 15px #00ffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#register input, #login input, #conf input {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

#register button, #login button, #conf button {
  background-color: #222;
  color: white;
  border: 2px solid #00ffff;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

#register button:hover, #login button:hover, #conf button:hover {
  background-color: #00ffff;
  color: black;
}
#lable{
  
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog {
  border-radius: 20px;
  padding: 20px;
  width: 600px;
  position: relative;
}

.close-btn {
  background-color: white;
  border: 2px solid white;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-option {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
}

.color-option:hover {
  border: 2px solid #333;
}