body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('images/back_photo.png') no-repeat center center fixed;
  background-size: 110%;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

header {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

nav {
  text-align: center;
  margin: 20px 0;
}

button {
  background-color: #222;
  color: white;
  border: 2px solid #00ffff;
  padding: 10px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

button:hover {
  background-color: #00ffff;
  color: black;
}

.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  margin-top: 30px; /* Reduce distance from nav */
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px;
}

#welcome h2 {
  font-size: 50px;
  color: #00ffff;
  text-shadow: 0 0 15px #00ffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#welcome a {
  color: #ffcc00;
  font-size: 20px;
  text-decoration: none;
  margin: 20px 0;
  transition: 0.3s;
}

#welcome a:hover {
  color: #ff6600;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}

#register, #login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  margin-top: 30px;
}

#register form, #login form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
}

#register h2, #login h2 {
  font-size: 50px;
  color: #00ffff;
  text-shadow: 0 0 15px #00ffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#register input, #login input {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

#register button, #login button {
  background-color: #222;
  color: white;
  border: 2px solid #00ffff;
  padding: 10px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

#register button:hover, #login button:hover {
  background-color: #00ffff;
  color: black;
}
